<div style="height: 10vh; margin-left: 3px" class="container row selectionArea">
  <div class="col-md-6 col-sm-6 col-8">
    <!-- <label class="form-group col-12" for="inputState">Journey Name</label> -->
    <!-- <div class="form-control"> -->
      <ng-selectize style="width: 90%;display: inline-block;z-index: -1;" [config]="config" [options]="journeyIDs" [placeholder]="placeholder"
        [(ngModel)]="selectedID" (ngModelChange)="selectID()"></ng-selectize>
      <span style="float:right;width: 9%" class="input-group-btn">
        <button class="btn btn-outline-primary" type="button" tabindex="-1" (click)="refreshIDs()">
          <i class="fas fa-sync-alt"></i>
        </button>
      </span>
    <!-- </div> -->
  </div>
  <div [hidden]="!loadingIDs" class="col-md-3 col-sm-3 col-4 loaderId">
    <!-- <label for=""></label> -->
    <div class="loadingIcon">
      <img width="37" style="
      margin-left: auto;
      margin-top: 0px;
      margin-right: auto;" src="./../assets/preloader.gif" alt="">
      <p style="text-align:center;display: inline"></p>
    </div>
  </div>
</div>

<div [hidden]="!loadingLocationData" class="loader">
  <div class="loadingIcon">
    <p style="text-align:center">Loading Locations...</p>
    <img width="70" style="display: block;
    margin-left: auto;
    margin-right: auto;" src="./../assets/preloader.gif" alt="">
  </div>
</div>

<div id="mapid" style="height: 75vh; width: 100%; margin-top: 1vh;"> </div>



