<div style="height: 10vh; margin-left: 25px" class="container row selectionArea">
  <div class="col-11">

    <ngx-select placeholder="Select Journey Name" optionValueField="journeyID" optionTextField="journeyName" style="width: 90%;display: inline-block;" [items]="journeyIDs"
      (select)="selectID()" [(ngModel)]="selectedID">
      <ng-template ngx-select-option let-option let-text="text">
        <div style="padding:10px"> <span class="title">
            <span class="name"> {{option.data.journeyName}} </span>
          </span>
          <span style="float:right;"> {{getSelectionDate(option.data)}} </span>
        </div>
      </ng-template>
    </ngx-select>
    <span style="float:right;width: 9%" class="input-group-btn">
      <button class="btn btn-outline-primary" type="button" tabindex="-1" (click)="refreshIDs()">
        <i class="fas fa-sync-alt"></i>
      </button>
    </span>
    <!-- </div> -->
  </div>
  <div [hidden]="!loadingIDs" class="col-1 loaderId">
    <!-- <label for=""></label> -->
    <div class="loadingIcon">
      <img width="37" style="
      margin-left: auto;
      margin-top: 0px;
      margin-right: auto;" src="./../assets/preloader.gif" alt="">
      <p style="text-align:center;display: inline"></p>
    </div>
  </div>  
</div>



<div [hidden]="!loadingData" class="loader">
  <div class="loadingIcon">
    <p style="text-align:center">Loading Data...</p>
    <img width="70" style="display: block;
    margin-left: auto;
    margin-right: auto;" src="./../assets/preloader.gif" alt="">
  </div>
</div>
<div class="row" style="margin-right: 0px;margin-left: 7px">
  <div class="col col-10" id="mapid" style="height: 75vh; width: 100%;border-radius: 8px;border:2px solid #009BF6"> </div>
  <div class="col col-2" id="" style="padding-left: 10px; height: 75vh; width: 100%;">

    <div style="padding:5px;height: 75vh; width: 100%;border-radius: 8px;border:2px solid #009BF6;font-size: 12px">
      <div [hidden]="noSegmentData">
        <div id="fullJourneyDataSection" style="margin:5px 0;padding:5px;border:2px solid lavender;border-radius: 5px">
          <b>Full Journey</b><br>
          <span>no of segments: {{ metadata_no_of_segments_full}}</span><br>
          <span>Journey start: {{ metadata_journey_starttime_full | date:'shortTime'}}</span>
          <span>Journey end: {{ metadata_journey_endtime_full | date:'shortTime'}}</span>
        </div>

        <div [hidden]="!colorCodes" id="colorCodeSection" style="margin:5px 0;padding:5px;border:2px solid lavender;border-radius: 5px">
          <b>Color Codes</b><br>
          <span *ngFor="let colorCode of colorCodes" style="margin-bottom: 3px">
            <span class="dot" [ngStyle]="{'background-color': colorCode.color}"></span>
            <span> {{colorCode.description}}</span><br>
          </span>
        </div>

        <div style="margin:5px 0;padding:5px;border:2px solid lavender;border-radius: 5px">
          <div style="" class="custom-control custom-radio my-1 mr-sm-2">
            <input name="radiogroup" type="radio" class="custom-control-input" id="avgSpeed" checked="checked" (change)="radioBtn('avgSpeed')">
            <label class="custom-control-label" for="avgSpeed">Avg Speed</label>
          </div>
      
          <div style="" class="custom-control custom-radio my-1 mr-sm-2">
            <input name="radiogroup" type="radio" class="custom-control-input" id="avgAccelY" (change)="radioBtn('avgAccelY')">
            <label class="custom-control-label" for="avgAccelY">Avg aY</label>
          </div>
      
          <div style="" class="custom-control custom-radio my-1 mr-sm-2">
            <input name="radiogroup" type="radio" class="custom-control-input" id="avgRmsAccel" (change)="radioBtn('avgRmsAccel')">
            <label class="custom-control-label" for="avgRmsAccel">Avg aRMS </label>
          </div>
      
          <div style="" class="custom-control custom-radio my-1 mr-sm-2">
            <input name="radiogroup" type="radio" class="custom-control-input" id="standardDeviationFullMeanAccelY" (change)="radioBtn('standardDeviationFullMeanAccelY')">
            <label class="custom-control-label" for="standardDeviationFullMeanAccelY">SD Full Mean</label>
          </div>
      
          <div style="" class="custom-control custom-radio my-1 mr-sm-2">
            <input name="radiogroup" type="radio" class="custom-control-input" id="standardDeviationSegmentMeanAccelY" (change)="radioBtn('standardDeviationSegmentMeanAccelY')">
            <label class="custom-control-label" for="standardDeviationSegmentMeanAccelY">SD Seg Mean</label>
          </div>
        </div>

        <div id="segmentDataSection">

        </div>
      </div>
    </div>
  </div>
</div>