<div style="height: 10vh; margin-left: 25px" class="container row selectionArea">
  <div class="col-11">

    <ngx-select placeholder="Select Journey Name" optionValueField="journeyID" optionTextField="journeyName" style="width: 90%;display: inline-block;"
      [items]="journeyIDs" (select)="selectID()" [(ngModel)]="selectedID">
      <ng-template ngx-select-option let-option let-text="text">
        <div style="padding:10px"> <span class="title">
            <span class="name"> {{option.data.journeyName}} </span>
          </span>
          <span style="float:right;"> {{getSelectionDate(option.data)}} </span>
        </div>
      </ng-template>
    </ngx-select>
    <span style="float:right;width: 9%" class="input-group-btn">
      <button class="btn btn-outline-primary" type="button" tabindex="-1" (click)="refreshIDs()">
        <i class="fas fa-sync-alt"></i>
      </button>
    </span>
    <!-- </div> -->
  </div>
  <div [hidden]="!loadingIDs" class="col-1 loaderId">
    <!-- <label for=""></label> -->
    <div class="loadingIcon">
      <img width="37" style="
      margin-left: auto;
      margin-top: 0px;
      margin-right: auto;" src="./../assets/preloader.gif" alt="">
      <p style="text-align:center;display: inline"></p>
    </div>
  </div>
</div>

<div [hidden]="!loadingGraphData" class="loader">
  <div class="loadingIcon">
    <p style="text-align:center">Loading Graph...</p>
    <img width="70" style="display: block;
    margin-left: auto;
    margin-right: auto;" src="./../assets/preloader.gif" alt="">
  </div>
</div>
<div class="row" style="padding-left: 10px;padding-right: 10px;width: 100%">
  <div class="graph col-9">
    <nvd3 [options]="options" [data]="graphDataPart"></nvd3>
  </div >

  <div id="mapInGraph" class="mapInGraph col-3">
    <div class="" id="mapid" style="height: 67vh; width: 100%;border-radius: 8px;border:2px solid #009BF6"> </div>
  </div>

  <div style="width:100%; margin-top: 15px" [hidden]="!loaded">

    <div style="float:left;width:100px;" class="input-group-btn">
      <button [disabled]="disablePrevious" style="width:120px" class="btn btn-outline-primary" type="button" tabindex="-1" (click)="previousPart()">
        <i class="fas fa-step-backward"></i> prev
      </button>
    </div>

    <div style="float:right;width:100px; " class="input-group-btn">
      <button [disabled]="disableNext" style="width:120px" class="btn btn-outline-primary" type="button" tabindex="-1" (click)="nextPart()">
        next <i class="fas fa-step-forward"></i>
      </button>
    </div>

    <div *ngIf="graphDataPart" style="margin:0 auto;width:300px">
      <span> <b>Graph {{graphPart}}</b></span>
      <span> <b> - Point count: {{dataItemDensityOfPart}}</b></span>
    </div>
  </div>
</div>